header {
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1);
}

.nav-lang-btn {
  height: 35px;
  line-height: 35px;
  border-radius: 40px;
  border: solid 1px #ddd;
  padding: 0 12px 0 15px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 50px;
  @media (max-width: 768px) {
    margin-right: -50px;
  }

  img {
    width: 15px;
    height: 13px;
    object-fit: contain;
    object-position: center center;
    transition: all 0.3s ease;
    margin-left: 8px;
    margin-top: 4px;
  }
}
.arrow {
  transform: rotate(-180deg);
}
.nav-lang-dropdown {
  display: none;
  position: relative;
  background: red;
  transition: all 0.3s ease;
  z-index: 10;
}
.show2 {
  display: block;
  position: absolute;
  left: auto;
  right: auto;
  transition: all 0.3s ease;
  top: 110%;
  background: azure;
  padding: 0 5px;
  border-radius: 5px;
}
.nav-lang-dropdown .show {
  background: #fff;
  padding: 10px;
}
.nav-menu-user {
  display: flex;
  align-items: center;
  cursor: pointer;
  @media (min-width: 992) {
    display: none;
  }

  &:last-child {
    font-weight: bold;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      right: 35%;
      width: 20px;
      height: 20px;
      background-image: url("../../images/svg/enter.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.navbar-nav {
  margin-left: 50px;
  @media (max-width: 768px) {
    margin-left: 0;
  }
}

.navbar-nav .nav-item .nav-link {
  font-size: 18px;
  color: #4a4a4a;
  padding: 0;
  position: relative;
  transition: all 0.3s;
  @media (max-width: 768px) {
    display: inline-block;
    line-height: 2;
  }
  &:hover {
    &::after {
      content: "";
      height: 2px;
      width: 100%;
      position: absolute;
      left: 0;
      top: 95%;
      background: #000;
    }
  }
}
.nav-item {
  margin-right: 50px;
  @media (max-width: 768px) {
    margin-right: 0;
  }
}
.navbar-light .navbar-toggler {
  outline: 1px solid #fafafa;
}
.navbar-text {
  @media (max-width: 992px) {
    display: none;
  }
}
.hidden-li {
  @media (max-width: 992px) {
    display: none;
  }
}
.nav-menu-user2 {
  @media (min-width: 992px) {
    display: none;
  }
}

.gid-btn {
  position: relative;
  .header-gid {
    display: block;
    position: absolute;
    top: 105%;
    left: 0;
    padding: 10px 5px;
    background: #d3d3d3;
    color: #000;
    cursor: pointer;
  }
}
