.hotel-card {
  display: block;
  background: #fff;
  padding-bottom: 15px;
  border-bottom: 1px solid #fff;
  margin-bottom: 25px;
  box-shadow: 0 7px 20px 7px rgba(204, 204, 204, 0.3);
  &:hover {
    color: inherit;
  }
}
.hotel-card-content {
  padding: 10px 20px;
  border-bottom: 1px solid #4a4a4a;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 1px;
    height: 97%;
    background: #4a4a4a;
    @media (max-width: 768px) {
      width: 0;
      height: 0;
    }
  }
}
.hotel-map-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-right: 15px;
  }
}
.hotel-price-info {
  text-align: center;
  padding-top: 20px;
  @media (max-width: 768px) {
    padding-top: 10px;
  }
}
.hotel-address {
  position: relative;
  margin-left: 18px;
  padding-bottom: 5px;
  &::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 4px;
    width: 15px;
    height: 15px;
    background-image: url(../../../images/svg/location.svg);
    background-repeat: no-repeat;
  }
}
.hotel-img {
  position: relative;
  &:hover {
    .hotel-card-shadow {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transition: 0.3s all ease;
      background-color: rgba(3, 92, 131, 0.65);
    }
  }
}
.hotel-img-position {
  position: absolute;
  right: 25px;
  bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    &:first-child {
      padding: 6px 10px;
      border-radius: 50%;
      background: #fff;
      margin-right: 15px;
      svg {
        width: 20px;
        height: 20px;
        &:hover {
          fill: red;
        }
      }
    }
    &:last-child {
      display: flex;
      align-items: center;
      padding: 3px 7px 3px 10px;
      border-radius: 20px;
      background: #fff;
      font-weight: bold;
      img {
        width: 25px;
        height: 25px;
        object-fit: contain;
      }
      &:hover {
        color: red;
      }
    }
  }
}
