{% set title = "hotels-singel" %}
{% extends "main.tpl" %}

{% block content %}

{% include "components/header.html" %}
<div class="hotels-singel">
  <div class="container">
    <div class="hotels-singel-body">
      <div>
        <ul class="hotels-singel-url">
          <li><a href="#!">Главная</a></li>
          <li><a href="#!">Гостиницы</a></li>
          <li>Navruz</li>
        </ul>
      </div>
      <div class="hotel-address-content">
        <div class="hotel-address-inner">
          <div class="hotel-name"> Navruz</div>
          <div class="address-link"><img src="../../images/svg/map-location.svg" alt=""><a href="#!">На карте</a></div>
        </div>
        <div class="hotel-name-address">
          <div class="hotel-name-address-inner">
            <img src="../../images/svg/location.svg" alt="">
            <span>Ташкент, Мирзо-Улугбекский район,</span>
          </div>
          <div class="hotel-name-address-inner">
            <span>1-я ул. Шивли, 1</span>
            <span class="hotel-gost">
              <img src="../../images/svg/visibility.svg" alt="">
              <span> 4800</span></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="slider-container">

            <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
              class="swiper-container mySwiper2">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="http://picsum.photos/1000/250" />
                </div>
                <div class="swiper-slide">
                  <img src="http://picsum.photos/1001/250" />
                </div>
                <div class="swiper-slide">
                  <img src="http://picsum.photos/1003/250" />
                </div>
                <div class="swiper-slide">
                  <img src="http://picsum.photos/1004/250" />
                </div>
                <div class="swiper-slide">
                  <img src="http://picsum.photos/1005/250" />
                </div>
                <div class="swiper-slide">
                  <img src="http://picsum.photos/1006/250" />
                </div>
                <div class="swiper-slide">
                  <img src="http://picsum.photos/1007/250" />
                </div>
                <div class="swiper-slide">
                  <img src="http://picsum.photos/1008/250" />
                </div>
                <div class="swiper-slide">
                  <img src="http://picsum.photos/1009/250" />
                </div>
                <div class="swiper-slide">
                  <img src="http://picsum.photos/1010/250" />
                </div>
              </div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
            <div thumbsSlider="" class="swiper-container mySwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="http://picsum.photos/1000/250" />
                </div>
                <div class="swiper-slide">
                  <img src="http://picsum.photos/1001/250" />
                </div>
                <div class="swiper-slide">
                  <img src="http://picsum.photos/1003/250" />
                </div>
                <div class="swiper-slide">
                  <img src="http://picsum.photos/1004/250" />
                </div>
                <div class="swiper-slide">
                  <img src="http://picsum.photos/1005/250" />
                </div>
                <div class="swiper-slide">
                  <img src="http://picsum.photos/1006/250" />
                </div>
                <div class="swiper-slide">
                  <img src="http://picsum.photos/1007/250" />
                </div>
                <div class="swiper-slide">
                  <img src="http://picsum.photos/1008/250" />
                </div>
                <div class="swiper-slide">
                  <img src="http://picsum.photos/1009/250" />
                </div>
                <div class="swiper-slide">
                  <img src="http://picsum.photos/1010/250" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="hotel-info-blocks">
            <span>
              <img src="../../images/svg/wifi.svg" alt="">
            </span>
            <span>Wi-Fi</span>
          </div>
          <div class="hotel-info-blocks">
            <span>
              <img class="meeting" src="../../images/svg/meeting.svg" alt="">
            </span>
            <span>Комната/зал для проведения переговоров и конференц</span>
          </div>
          <div class="hotel-info-blocks">
            <span>
              <img src="../../images/svg/washing-machine.svg" alt="">
            </span>
            <span>Прачечная</span>
          </div>
        </div>
        <div class="col-md-3 col-mod">
          <div class="hotel-info-blocks">
            <span>
              <img src="../../images/svg/parkov.svg" alt="">
            </span>
            <span>Парковка</span>
          </div>
          <div class="hotel-info-blocks">
            <span>
              <img class="booking" src="../../images/svg/booking.svg" alt="">
            </span>
            <span>Круглосуточная стойка регистрации</span>
          </div>
          <div class="hotel-info-blocks">
            <span>
              <img src="../../images/svg/restaurant.svg" alt="">
            </span>
            <span>Ресторан</span>
          </div>
        </div>
        <div class="col-md-3 col-mod">
          <div class="hotel-info-blocks">
            <span>
              <img src="../../images/svg/breakfast.svg" alt="">
            </span>
            <span>Завтрак</span>
          </div>
          <div class="hotel-info-blocks">
            <span>
              <img class="booking" src="../../images/svg/family.svg" alt="">
            </span>
            <span>Семейные номера, зал для проведения</span>
          </div>
          <div class="hotel-info-blocks">
            <span>
              <img src="../../images/svg/ironing-board.svg" alt="">
            </span>
            <span>Глажка</span>
          </div>
        </div>
        <div class="col-md-3 col-mod">
          <div class="hotel-info-blocks">
            <span>
              <img class="booking" src="../../images/svg/fitness.svg" alt="">
            </span>
            <span>Фитнес-центр</span>
          </div>
        </div>
      </div>
      <div class="row m-t-40 m-b-40">
        <div class="col-md-3">
          <div class="hotel-info-text">
            <div>
              <img src="../../images/svg/hotel2.svg" alt="">
              <div>О гостинице</div>
            </div>

          </div>
        </div>
        <div class="col-md-9">
          <div>
            <p>Отель Оазис Асака, расположен в уютном и тихом районе близ центра города Ташкента. Персонал, работающий в
              отеле всегда рад своим гостям, и предоставит все возможные условия, наполняя ваш отдых гостеприимством
              восточного народа. Отель находится в 10 минутах езды от Международного Аэропорта и в 5 минутах от
              железнодорожного вокзала.
            </p>
            <p>
              При входе в отель, вы попадаете в оазис, прямо как путник заблудший в пустыне, верблюдов вы там не
              встретите
              но, вас будет ждать, алея с красиво рассаженными деревьями, скамеечками, удобно расположенными у входа в
              гостиницу. Комфортабельные номера, огромный бассейн со спортзалом и финской сауной, дополнят ваш отдых,
              делая ваше тело здоровым, а дух свободным и чистым.
            </p>
            <p>
              Есть множество достопримечательностей поблизости, женский монастырь с возвышенными на нем золотыми
              куполами,
              сияющими на солнце. Музей железнодорожной техники, находится буквально в 5 минутах езды от отеля, где
              возможно увидеть поезда из разных времен, а если проехать чуть дальше, вы попадете прямо в сердце столицы,
              на площадь Амира Тимура, вокруг которой и построен прекрасный город Ташкент. Стоит испробовать блюда из
              местной кухни, вкус которых, будет сопровождать вас, все проведенное время в солнечном городе и в Оазисе
              Ташкента.</p>
          </div>

        </div>
      </div>
      <div class="row m-b-30">
        <div class="col-md-3">
          <div class="hotel-info-text">
            <div>
              <img src="../../images/svg/docs.svg" alt="">
              <div>Условия</div>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div>
            <p> Время заезда и выезда 12:00/14:00</p>
            <br>
            <p>Размещение детей до 6 лет на имеющихся кроватях, бесплатно.</p>
            <br>
            <p>Размещение домашних животных недопустимо.</p>
            <br>
            <p>Есть охраняемая парковка и бесплатный вай-фай.</p>
            <br>
            <p>В стоимость номера включен, завтрак, бассейн и тренажерный зал.</p>
          </div>

        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-3">
          <div class="hotel-booking-info">
            <div>
              <div><img src="../../images/svg/booking.svg" alt=""></div>
              <div>Бронирование</div>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="hotel-yesNo-checkbox">
            <div>Резидент</div>
            <p class="onoff"><input type="checkbox" value="1" id="checkboxID"><label for="checkboxID"></label></p>
          </div>
          <div class="hotel-booking-wrap">
            <div class="hotel-booking-chek-in">
              <div>Заезд:</div>
              <div><input type="date" id="start" name="trip-start">
              </div>
            </div>
            <div class="hotel-booking-chek-out">
              <div class="hotel-booking-chek-out-inner">
                <div>Выезд:</div>
                <div><input type="date" id="start" name="trip-start">
                </div>
              </div>
              <div class="booking-link"><a class="hotel-booking-link" href="#!">Показать</a></div>
            </div>
          </div>
        </div>

      </div>
      <hr>
      <div class="row">
        <div class="col-md-12 parent-block">
          <div class="hotel-booking-card">
            <div class="hotel-card-img-wrap"><img src="../../images/png/hotel1.jpg" alt=""></div>
            <div class="hotel-booking-card-content">
              <ul class="hotel-card-titles">
                <li>Трёхместный номер</li>
                <li>Стандартная кровать</li>
                <li>Завтрак включён</li>
              </ul>
              <div class="hotel-booking-price">
                <div class="hotel-card-select">
                  <div class="select-wrap">
                    <label for="country">Дети</label>
                    <div class="custom-select">
                      <select>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                      </select>
                    </div>
                  </div>
                  <div class="select-wrap">
                    <label for="country">Число гостей
                    </label>
                    <div class="custom-select">
                      <select>
                        <option value="0">3</option>
                        <option value="1">0</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                      </select>
                    </div>
                  </div>
                  <div class="select-wrap">
                    <label for="country">Количество</label>
                    <div class="custom-select">
                      <select>
                        <option value="0">0</option>
                        <option value="1">2</option>
                        <option value="2">3</option>
                      </select>
                    </div>
                  </div>
                </div>
                <ul class="hotel-price">
                  <li>Цена</li>
                  <li>450 000 сўм</li>
                </ul>
              </div>
              <div class="hotel-booking-hide">Описание номера</div>
            </div>
          </div>
          <div class="hide">
            <div class="hotel-booking-slide-card  hotel-booking-card">
              <div class="hotel-card-img-wrap">
                <img src="../../images/png/hotel1.jpg" alt="">
                <span class="hotel-img-position">
                  <span class="slide-position">
                    <img src="../../images/svg/photo-camera.svg" alt="">
                    <span>15</span>
                  </span>
                </span>
              </div>
              <div class="booking-slide-content">
                <div class="booking-slide-title">Услуги и удобства</div>
                <ol class="hotel-room-info">
                  <li>Wi-Fi</li>
                  <li>Балкон </li>
                  <li>Ванна</li>
                  <li>Вешалка для
                    одежды</li>
                  <li>Кондиционер</li>
                  <li> Рабочий стол </li>
                  <li>Телевизор </li>
                </ol>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-12 parent-block">
          <div class="hotel-booking-card">
            <div class="hotel-card-img-wrap"><img src="../../images/png/hotel1.jpg" alt=""></div>
            <div class="hotel-booking-card-content">
              <ul class="hotel-card-titles">
                <li>Трёхместный номер</li>
                <li>Стандартная кровать</li>
                <li>Завтрак включён</li>
              </ul>
              <div class="hotel-booking-price">
                <div class="hotel-card-select">
                  <div class="select-wrap">
                    <label for="country">Дети</label>
                    <div class="custom-select">
                      <select>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                      </select>
                    </div>
                  </div>
                  <div class="select-wrap">
                    <label for="country">Число гостей
                    </label>
                    <div class="custom-select">
                      <select>
                        <option value="0">3</option>
                        <option value="1">0</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                      </select>
                    </div>
                  </div>
                  <div class="select-wrap">
                    <label for="country">Количество</label>
                    <div class="custom-select">
                      <select>
                        <option value="0">0</option>
                        <option value="1">2</option>
                        <option value="2">3</option>
                      </select>
                    </div>
                  </div>
                </div>
                <ul class="hotel-price">
                  <li>Цена</li>
                  <li>450 000 сўм</li>
                </ul>
              </div>
              <div class="hotel-booking-hide">Описание номера</div>
            </div>
          </div>
          <div class="hide">
            <div class="hotel-booking-slide-card  hotel-booking-card">
              <div class="hotel-card-img-wrap">
                <img src="../../images/png/hotel1.jpg" alt="">
                <span class="hotel-img-position">
                  <span class="slide-position">
                    <img src="../../images/svg/photo-camera.svg" alt="">
                    <span>15</span>
                  </span>
                </span>
              </div>
              <div class="booking-slide-content">
                <div class="booking-slide-title">Услуги и удобства</div>
                <ol class="hotel-room-info">
                  <li>Wi-Fi</li>
                  <li>Балкон </li>
                  <li>Ванна</li>
                  <li>Вешалка для
                    одежды</li>
                  <li>Кондиционер</li>
                  <li> Рабочий стол </li>
                  <li>Телевизор </li>
                </ol>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-12  parent-block">
          <div class="hotel-booking-card">
            <div class="hotel-card-img-wrap"><img src="../../images/png/hotel1.jpg" alt=""></div>
            <div class="hotel-booking-card-content">
              <ul class="hotel-card-titles">
                <li>Трёхместный номер</li>
                <li>Стандартная кровать</li>
                <li>Завтрак включён</li>
              </ul>
              <div class="hotel-booking-price">
                <div class="hotel-card-select">
                  <div class="select-wrap">
                    <label for="country">Дети</label>
                    <div class="custom-select">
                      <select>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                      </select>
                    </div>
                  </div>
                  <div class="select-wrap">
                    <label for="country">Число гостей
                    </label>
                    <div class="custom-select">
                      <select>
                        <option value="0">3</option>
                        <option value="1">0</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                      </select>
                    </div>
                  </div>
                  <div class="select-wrap">
                    <label for="country">Количество</label>
                    <div class="custom-select">
                      <select>
                        <option value="0">0</option>
                        <option value="1">2</option>
                        <option value="2">3</option>
                      </select>
                    </div>
                  </div>
                </div>
                <ul class="hotel-price">
                  <li>Цена</li>
                  <li>450 000 сўм</li>
                </ul>
              </div>
              <div class="hotel-booking-hide">Описание номера</div>
            </div>
          </div>
          <div class="hide  ">
            <div class="hotel-booking-slide-card  hotel-booking-card">
              <div class="hotel-card-img-wrap">
                <img src="../../images/png/hotel1.jpg" alt="">
                <span class="hotel-img-position">
                  <span class="slide-position">
                    <img src="../../images/svg/photo-camera.svg" alt="">
                    <span>15</span>
                  </span>
                </span>
              </div>
              <div class="booking-slide-content">
                <div class="booking-slide-title">Услуги и удобства</div>
                <ol class="hotel-room-info">
                  <li>Wi-Fi</li>
                  <li>Балкон </li>
                  <li>Ванна</li>
                  <li>Вешалка для
                    одежды</li>
                  <li>Кондиционер</li>
                  <li> Рабочий стол </li>
                  <li>Телевизор </li>
                </ol>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-12  parent-block">
          <div class="hotel-booking-card">
            <div class="hotel-card-img-wrap"><img src="../../images/png/hotel1.jpg" alt=""></div>
            <div class="hotel-booking-card-content">
              <ul class="hotel-card-titles">
                <li>Трёхместный номер</li>
                <li>Стандартная кровать</li>
                <li>Завтрак включён</li>
              </ul>
              <div class="hotel-booking-price">
                <div class="hotel-card-select">
                  <div class="select-wrap">
                    <label for="country">Дети</label>
                    <div class="custom-select">
                      <select>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                      </select>
                    </div>
                  </div>
                  <div class="select-wrap">
                    <label for="country">Число гостей
                    </label>
                    <div class="custom-select">
                      <select>
                        <option value="0">3</option>
                        <option value="1">0</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                      </select>
                    </div>
                  </div>
                  <div class="select-wrap">
                    <label for="country">Количество</label>
                    <div class="custom-select">
                      <select>
                        <option value="0">0</option>
                        <option value="1">2</option>
                        <option value="2">3</option>
                      </select>
                    </div>
                  </div>
                </div>
                <ul class="hotel-price">
                  <li>Цена</li>
                  <li>450 000 сўм</li>
                </ul>
              </div>
              <div class="hotel-booking-hide">Описание номера</div>
            </div>
          </div>
          <div class="hide">
            <div class="hotel-booking-slide-card  hotel-booking-card">
              <div class="hotel-card-img-wrap">
                <img src="../../images/png/hotel1.jpg" alt="">
                <span class="hotel-img-position">
                  <span class="slide-position">
                    <img src="../../images/svg/photo-camera.svg" alt="">
                    <span>15</span>
                  </span>
                </span>
              </div>
              <div class="booking-slide-content">
                <div class="booking-slide-title">Услуги и удобства</div>
                <ol class="hotel-room-info">
                  <li>Wi-Fi</li>
                  <li>Балкон </li>
                  <li>Ванна</li>
                  <li>Вешалка для
                    одежды</li>
                  <li>Кондиционер</li>
                  <li> Рабочий стол </li>
                  <li>Телевизор </li>
                </ol>
              </div>
            </div>
          </div>

        </div>
      </div> 
      <hr>
      <div class="row">
        <div class="col-md-3">

          <div class="hotel-info-text">
            <div>
              <img src="../../images/svg/book.svg" alt="">
              <div>Примечания</div>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div>
            <p class="p-t-15">Городской налог для иностранных граждан не входит в стоимость номера. Дополнительный
              завтрак оплачивается
              отдельно. Услуги прачечной оплачиваются отдельно. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% include "components/footer.html" %}
{% endblock %}