{% set title = "index" %}

{% extends "main.tpl" %}

{% block content %}

{% include "components/header.html" %}
<main class="m-t-50">
  <div class="container">
    <div class="row">
      <div class="col-md-4 m-b-30">
        <a href="#!" class="indexCard">
          <div class="indexCard-img-wrap">
            <img src="http://picsum.photos/600" alt="">
            <span class="hover-shadow">
              <span class="icon">
                <img src="../../images/svg/hotel.svg" alt="">
              </span>
            </span>
          </div>
          <div class="indexCard-contant">
            <div class="indexCard-title"> <span> ГОСТИНИЦЫ - 147</span></div>
            <p>В разделе представлены отели и гостиницы столицы и туристических городов Узбекистана. Вы можете выбрать
              гостиницу, сравнивать цены, посмотреть фотографии, проверить наличие свободных номеров и сделать бронь.
            </p>
          </div>
        </a>
      </div>
      <div class="col-md-4 m-b-30">
        <a href="#!" class="indexCard">
          <div class="indexCard-img-wrap">
            <img src="http://picsum.photos/601" alt="">
            <span class="hover-shadow">
              <span class="icon">
                <img src="../../images/svg/sanatorium.svg" alt="">
              </span>
            </span>
          </div>
          <div class="indexCard-contant">
            <div class="indexCard-title"> <span> САНАТОРИИ - 4</span></div>
            <p>В разделе представлены отели и гостиницы столицы и туристических городов Узбекистана. Вы можете выбрать
              гостиницу, сравнивать цены, посмотреть фотографии, проверить наличие свободных номеров и сделать бронь.
            </p>
          </div>
        </a>
      </div>
      <div class="col-md-4 m-b-30">
        <a href="#!" class="indexCard">
          <div class="indexCard-img-wrap">
            <img src="http://picsum.photos/602" alt="">
            <span class="hover-shadow">
              <span class="icon">
                <img src="../../images/svg/holiday.svg" alt="">
              </span>
            </span>
          </div>
          <div class="indexCard-contant">
            <div class="indexCard-title"><span>ЗОНЫ ОТДЫХА - 5</span></div>
            <p>В разделе представлены отели и гостиницы столицы и туристических городов Узбекистана. Вы можете выбрать
              гостиницу, сравнивать цены, посмотреть фотографии, проверить наличие свободных номеров и сделать бронь.
            </p>
          </div>
        </a>
      </div>
      <div class="col-md-4 m-b-30">
        <a href="#!" class="indexCard">
          <div class="indexCard-img-wrap">
            <img src="http://picsum.photos/603" alt="">
            <span class="hover-shadow">
              <span class="icon">
                <img src="../../images/svg/ranch.svg" alt="">
              </span>
            </span>
          </div>
          <div class="indexCard-contant">
            <div class="indexCard-title"> <span> ДАЧИ/ДОМА - 161</span></div>
            <p>В разделе представлены отели и гостиницы столицы и туристических городов Узбекистана. Вы можете выбрать
              гостиницу, сравнивать цены, посмотреть фотографии, проверить наличие свободных номеров и сделать бронь.
            </p>
          </div>
        </a>
      </div>
      <div class="col-md-4 m-b-30">
        <a href="#!" class="indexCard">
          <div class="indexCard-img-wrap">
            <img src="http://picsum.photos/604" alt="">
            <span class="hover-shadow">
              <span class="icon">
                <img src="../../images/svg/guide.svg" alt="">
              </span>
            </span>
          </div>
          <div class="indexCard-contant">
            <div class="indexCard-title"> <span>ГИДЫ - 8</span> </div>
            <p>В разделе представлены отели и гостиницы столицы и туристических городов Узбекистана. Вы можете выбрать
              гостиницу, сравнивать цены, посмотреть фотографии, проверить наличие свободных номеров и сделать бронь.
            </p>
          </div>
        </a>
      </div>
      <div class="col-md-4 m-b-30">
        <a href="#!" class="indexCard">
          <div class="indexCard-img-wrap">
            <img src="http://picsum.photos/605" alt="">
            <span class="hover-shadow">
              <span class="icon">
                <img src="../../images/svg/tour.svg" alt="">
              </span>
            </span>
          </div>
          <div class="indexCard-contant">
            <div class="indexCard-title"> <span>ТУРЫ - 18</span> </div>
            <p>В разделе представлены отели и гостиницы столицы и туристических городов Узбекистана. Вы можете выбрать
              гостиницу, сравнивать цены, посмотреть фотографии, проверить наличие свободных номеров и сделать бронь.
            </p>
          </div>
        </a>
      </div>
      <div class="col-md-12">
        <h2 class="m-b-15 title "><a href="#!">Блог</a></h2>
      </div>
      <div class="col-md-3">
        <a href="#!" class="indexCard">
          <div class="indexCard-img-wrap"><img src="http://picsum.photos/606" alt=""> <span
              class="card-element">Достопримечательности</span> </div>
          <div class="indexCard-contant">
            <div class="indexCard-title title2"> <span>Медресе Кукелдаш</span> </div>
            <p>В разделе представлены отели и гостиницы столицы и туристических городов Узбекистана. Вы можете выбрать
              гостиницу, сравнивать цены, посмотреть фотографии, проверить наличие свободных номеров и сделать бронь.
            </p>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="#!" class="indexCard">
          <div class="indexCard-img-wrap"><img src="http://picsum.photos/607" alt=""> <span
              class="card-element">Полезные статьи</span> </div>
          <div class="indexCard-contant">
            <div class="indexCard-title title2"> <span>Гостиницы в Узбекистане</span> </div>
            <p>В разделе представлены отели и гостиницы столицы и туристических городов Узбекистана. Вы можете выбрать
              гостиницу, сравнивать цены, посмотреть фотографии, проверить наличие свободных
            </p>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="#!" class="indexCard">
          <div class="indexCard-img-wrap"><img src="http://picsum.photos/608" alt=""> <span
              class="card-element">Полезные статьи</span> </div>
          <div class="indexCard-contant">
            <div class="indexCard-title title2"> <span>Гостиницы Бухары</span> </div>
            <p>В разделе представлены отели и гостиницы столицы и туристических городов Узбекистана. Вы можете выбрать
              гостиницу, сравнивать цены, посмотреть фотографии, проверить наличие свободных номеров и сделать бронь.
            </p>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="#!" class="indexCard">
          <div class="indexCard-img-wrap"><img src="http://picsum.photos/609" alt=""> <span
              class="card-element">Полезные статьи</span> </div>
          <div class="indexCard-contant">
            <div class="indexCard-title title2"> <span>Лучшие отели Хивы</span> </div>
            <p>В разделе представлены отели и гостиницы столицы и туристических городов Узбекистана. Вы можете выбрать
              гостиницу, сравнивать цены, посмотреть фотографии, проверить наличие свободных номеров и сделать бронь.
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</main>

{% include "components/footer.html" %}
{% endblock %}