{% set title = "ranch-singel" %}
{% extends "main.tpl" %}

{% block content %}

{% include "components/header.html" %}
<main class="ranch-singel">
  <div class="container">
    <div class="hotels-singel-body">
      <div class="row">
        <div class="col-md-12">
          <div>
            <div>
              <ul class="hotels-singel-url">
                <li><a href="#!">Главная</a></li>
                <li><a href="#!">Дачи/дома</a></li>
                <li> Чарвак ор: кафе "Болажон", ID 270</li>
              </ul>
            </div>
            <div class="hotel-address-content">
              <div class="hotel-address-inner">
                <div class="hotel-name">Чарвак ор: кафе "Болажон", ID 270</div>
                <div class="address-link"><img src="../../images/svg/map-location.svg" alt=""><a href="#!">На карте</a>
                </div>
              </div>
              <div class="hotel-name-address">
                <div class="hotel-name-address-inner">
                  <img src="../../images/svg/location.svg" alt="">
                  <span>Ташкентская область, Бостанлыкский район,</span>
                </div>
                <div class="hotel-name-address-inner">
                  <span>1-я ул. Шивли, 1</span>
                  <span class="hotel-gost">
                    <img src="../../images/svg/visibility.svg" alt="">
                    <span> 2800</span></span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-12">
          <div>


          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <div class="ranch-info-title"> <b> Услуги и удобства</b></div>
          <div class="row">
            <div class="col-md-6">
              <div class="ranch-info-blocks">
                <div>
                  <img src="../../images/svg/bed.svg" alt="">
                </div>
                <div>Количество спален : 3</div>
              </div>
              <div class="ranch-info-blocks">
                <div>
                  <img src="../../images/svg/hot-water.svg" alt="">
                </div>
                <div>Горячая вода</div>
              </div>
              <div class="ranch-info-blocks">
                <div>
                  <img src="../../images/svg/swimming-pool.svg" alt="">
                </div>
                <div>Летний бассейн</div>
              </div>
              <div class="ranch-info-blocks">
                <div>
                  <img src="../../images/svg/bbq.svg" alt="">
                </div>
                <div>Мангал</div>
              </div>
              <div class="ranch-info-blocks">
                <div>
                  <img src="../../images/svg/couch.svg" alt="">
                </div>
                <div>Тапчан</div>
              </div>
              <div class="ranch-info-blocks">
                <div>
                  <img src="../../images/svg/freezer.svg" alt="">
                </div>
                <div>Холодильник</div>
              </div>
            </div>
            <div class="col-md-6 ranch-pl-0">
              <div class="ranch-info-blocks">
                <div>
                  <img src="../../images/svg/garage.svg" alt="">
                </div>
                <div>Гараж</div>
              </div>
              <div class="ranch-info-blocks">
                <div>
                  <img src="../../images/svg/shower.svg" alt="">
                </div>
                <div>Душ/ванна</div>
              </div>
              <div class="ranch-info-blocks">
                <div>
                  <img src="../../images/svg/cooking.svg" alt="">
                </div>
                <div>Летняя кухня</div>
              </div>
              <div class="ranch-info-blocks">
                <div>
                  <img src="../../images/svg/bathroom.svg" alt="">
                </div>
                <div>Сан.узел внутри дома</div>
              </div>
              <div class="ranch-info-blocks">
                <div>
                  <img src="../../images/svg/watch-tv.svg" alt="">
                </div>
                <div>Телевизор</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="ranch-info-title"> <b> Календарь брони</b></div>
          <div>
            <div class="container-calendar">
              <h3 id="monthAndYear"></h3>

              <div class="button-container-calendar">
                <button id="previous" onclick="previous()">&#8249;</button>
                <button id="next" onclick="next()">&#8250;</button>
              </div>
              <table class="table-calendar" id="calendar" data-lang="en">
                <thead id="thead-month"></thead>
                <tbody id="calendar-body"></tbody>
              </table>
              <div class="footer-container-calendar">
                <label for="month">Jump To: </label>
                <select id="month" onchange="jump()">
                  <option value=0>Jan</option>
                  <option value=1>Feb</option>
                  <option value=2>Mar</option>
                  <option value=3>Apr</option>
                  <option value=4>May</option>
                  <option value=5>Jun</option>
                  <option value=6>Jul</option>
                  <option value=7>Aug</option>
                  <option value=8>Sep</option>
                  <option value=9>Oct</option>
                  <option value=10>Nov</option>
                  <option value=11>Dec</option>
                </select>
                <select id="year" onchange="jump()"></select>
              </div>
            </div>
            <hr>
            <div class="ranch-booking-price">
              <div>Цена за день :</div>
              <div class="ranch-price"><a href="#!">1 700 000 сўм</a></div>
            </div>
            <div class="ranch-booking-price">
              <div>Стоимость за день, выходной день :</div>
              <div class="ranch-price"><a href="#!">2 250 000 сўм</a></div>
            </div>
            <div class="ranch-booking-price">
              <div>Цена обновлена :</div>
              <div><a href="#!">09.07.2021</a></div>
            </div>
          </div>
          <form class="form-ranch">
            <div class="ranch-booking-bron">Бронирование</div>
            <div class="ranch-booking-subbron">Выберите дату</div>
            <div class="ranch-booking-date">
              <span>Заезд:</span>
              <div><input type="date"></div>
            </div>
            <div class="ranch-booking-on">
              <div>Время заезда</div>
              <div class="ranch-booking-times">
                <div class="custom-control custom-mod1 custom-radio">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1">До 10:00</label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio2">До 20:00</label>
                </div>
              </div>
            </div>
            <div class="ranch-booking-date">
              <span>Выезд:</span>
              <div><input type="date"></div>
            </div>
            <div class="ranch-booking-on">
              <div>Время выезда</div>
              <div class="ranch-booking-times">
                <div class="custom-control custom-mod2 custom-radio">
                  <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio3">После 9:00</label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio4">После 19:00</label>
                </div>
              </div>
            </div>
            <div class="ranch-booking-bron-price">Предварительная стоимость : 0 сўм</div>
            <div class="ranch-booking-date m-t-25">
              <span class="booking-name-red">Ваше имя:</span>
              <div><input type="tel" placeholder="Ваше имя"></div>
            </div>


            <div class="ranch-booking-date m-t-25">
              <span class="booking-name-red">Ваш телефон:</span>
              <div><input type="tel" placeholder="+998"></div>
            </div>
            <div class="ranch-booking-bron m-t-25 booking-phone">+99XXX XXXXXXX</div>
            <button class="ranch-booking-btn">Показать контактный номер</button>
          </form>
        </div>

      </div>
    </div>
  </div>



</main>
{% include "components/footer.html" %}
{% endblock %}