<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-expand-lg  navbar-light">
          <a class="navbar-brand" href="/index.html">LOGO</a>
          <ul class="nav-menu-user2">
            <li id="btnLang2" class="nav-lang-btn">Uz
              <img id="img2" src="../../../images/svg/arrow-down.svg" alt="">
              <ul id="navLang2" class="nav-lang-dropdown">
                <li> <a href="#!">Eng</a></li>
                <li> <a href="#!">Rus</a></li>
                <li> <a href="#!">Uz</a></li>
              </ul>
            </li>
            <li class="hidden-li"> <a href="#!">ВОЙТИ</a></li>
          </ul>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/hotels.html">Гостиницы <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/ranch.html">Дачи/дома</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/holiday.html">Зоны отдыха</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/sanatory.html">Санатории</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tur.html">Туры</a>
              </li>
              <li class="nav-item gid-btn">
                <a class="nav-link" href="#!">Ещё
                  <ul class="header-gid d-none">
                    <li> <a href="/gid.html">Gid</a> </li>
                  </ul>
                </a>
              </li>
            </ul>
            <div class="navbar-text">
              <ul class="nav-menu-user">
                <li id="btnLang" class="nav-lang-btn">Uz
                  <img id="img" src="../../../images/svg/arrow-down.svg" alt="">
                  <ul id="navLang" class="nav-lang-dropdown">
                    <li> <a href="#!">Eng</a></li>
                    <li> <a href="#!">Rus</a></li>
                    <li> <a href="#!">Uz</a></li>
                  </ul>
                </li>
                <li> <a href="#!">ВОЙТИ</a></li>
              </ul>
            </div>
          </div>
        </nav>
       
      </div>

    </div>

  </div>
</header>